 :root {
    --accent-color: #239fc2; 
  }

  .wy-side-nav-search a.icon-home {
    font-size: 2em;
    color: var(--accent-color);
}

.wy-nav-side {
  background: #000000;
}

.body {
  color: #141313;
  font: Arial; 

}

.wy-nav-content {
  max-width: 1000px !important;
}

.wy-nav-content {
  max-width: 1200px;
}

.wy-side-nav-search {
  background-color: transparent;
}
.wy-side-nav-search input[type="text"] {
  border-width: 0;
}

.rst-content dl:not(.docutils) a > code.xref {
  font-weight: bold;
}

.rst-content dl:not(.docutils) dt {
  background: #edf0f2;
  color: #404040;
} 

.wy-side-scroll {
  overflow: auto;
}